<section class="tab description" data-group="primary" data-tab="description">

  <div class="effect-item-description">

    <div class="effect-item-description__section">
      <div class="effect-item-description__section-header">
        <i class="fa-solid fa-scroll"></i>
        <span>{{localize "SHARDS.EffectItem.Tabs.Description"}}</span>
      </div>
      <div class="editor-container effect-item-description-editor">
        {{#if editable}}
        <prose-mirror name="system.description" toggled value="{{source.system.description}}">
          {{{enrichedDescription}}}
        </prose-mirror>
        {{else}}
        <div class="editor-content">{{{enrichedDescription}}}</div>
        {{/if}}
      </div>
    </div>

  </div>

</section>
