<div class="lineage-header-wrapper">
  <div class="crystal-card lineage-header">

    {{!-- Portrait with decorative frame --}}
    <div class="lineage-header__portrait-frame">
      <div class="lineage-header__portrait">
        <img class="lineage-portrait-img" src="{{item.img}}" data-action="editImage"
             data-edit="img" title="{{item.name}}" />
      </div>
      <div class="lineage-header__badge" title="{{localize 'TYPES.Item.lineage'}}">
        <i class="fa-solid fa-dna"></i>
      </div>
    </div>

    {{!-- Identity Column --}}
    <div class="lineage-header__identity">

      {{!-- Type Label --}}
      <div class="lineage-header__type-row">
        <span class="lineage-header__type-label">
          <i class="fa-solid fa-dna"></i> {{localize "TYPES.Item.lineage"}}
        </span>
        {{#if traitCount}}
        <span class="lineage-header__trait-count" title="{{localize 'SHARDS.Lineage.TraitCount'}}">
          <i class="fa-solid fa-sparkles"></i> {{traitCount}}
        </span>
        {{/if}}
      </div>

      {{!-- Name --}}
      <div class="lineage-header__name">
        <input name="name" type="text" value="{{item.name}}"
               placeholder="{{localize 'SHARDS.ItemName'}}" />
      </div>

      {{!-- Size --}}
      <div class="lineage-header__meta">
        <div class="lineage-size-field">
          <label>{{localize "SHARDS.Lineage.Size"}}</label>
          <input type="number" name="system.size" value="{{system.size}}" step="0.5" min="0.5" />
        </div>
      </div>

    </div>
  </div>
</div>
