<section class="tab details" data-group="primary" data-tab="details">
  <div class="lineage-details-scroll">

  {{!-- Movement Modes --}}
  <div class="lineage-detail-section">
    <div class="lineage-detail-section__header">
      <i class="fa-solid fa-person-running"></i>
      <span>{{localize "SHARDS.Lineage.MovementModes"}}</span>
    </div>
    <div class="lineage-movement-grid">
      {{#each movementModes}}
      <label class="lineage-movement-toggle">
        <input type="checkbox" name="system.movementModes.{{this.key}}" {{#if this.granted}}checked{{/if}} />
        <span class="lineage-movement-toggle__label">{{this.label}}</span>
      </label>
      {{/each}}
    </div>
  </div>

  {{!-- Innate Traits --}}
  <div class="lineage-detail-section">
    <div class="lineage-detail-section__header">
      <i class="fa-solid fa-sparkles"></i>
      <span>{{localize "SHARDS.Lineage.InnateTraits"}}</span>
      {{#if editable}}
      <button type="button" class="lineage-add-trait-btn" data-action="addTrait" title="{{localize 'SHARDS.Lineage.AddTrait'}}">
        <i class="fa-solid fa-plus"></i>
      </button>
      {{/if}}
    </div>
    <div class="lineage-traits-list">
      {{#each innateTraits}}
      <div class="lineage-trait-card" data-trait-index="{{this.index}}" data-trait-id="{{this.id}}">
        <input type="hidden" name="system.innateTraits.{{this.index}}.id" value="{{this.id}}" />
        <div class="lineage-trait-card__header">
          {{#if ../editable}}
          <input type="text" name="system.innateTraits.{{this.index}}.name" value="{{this.name}}"
                 class="lineage-trait-card__name-input" placeholder="{{localize 'SHARDS.Lineage.TraitName'}}" />
          <button type="button" class="lineage-trait-card__delete" data-action="deleteTrait" data-trait-index="{{this.index}}"
                  title="{{localize 'SHARDS.Delete'}}">
            <i class="fa-solid fa-trash"></i>
          </button>
          {{else}}
          <span class="lineage-trait-card__name">{{this.name}}</span>
          {{/if}}
        </div>
        {{#if ../editable}}
        <textarea name="system.innateTraits.{{this.index}}.description"
                  class="lineage-trait-card__desc"
                  placeholder="{{localize 'SHARDS.Lineage.TraitDescription'}}">{{this.description}}</textarea>
        {{else if this.description}}
        <p class="lineage-trait-card__desc-text">{{this.description}}</p>
        {{/if}}

        {{!-- Linked Active Effects --}}
        <div class="lineage-trait-effects">
          {{#each this.effects}}
          <div class="lineage-trait-effect {{#if this.disabled}}disabled{{/if}}" data-effect-id="{{this._id}}" title="{{this.tooltip}}">
            <img class="lineage-trait-effect__img" src="{{this.img}}" width="18" height="18" />
            <span class="lineage-trait-effect__name">{{this.name}}</span>
            {{#if ../../editable}}
            <div class="lineage-trait-effect__controls">
              <button type="button" data-action="toggleEffect" title="{{localize 'SHARDS.Effects.Toggle'}}">
                <i class="fa-solid {{#if this.disabled}}fa-eye-slash{{else}}fa-eye{{/if}}"></i>
              </button>
              <button type="button" data-action="editEffect" title="{{localize 'SHARDS.Edit'}}">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" data-action="deleteEffect" title="{{localize 'SHARDS.Delete'}}">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            {{/if}}
          </div>
          {{/each}}
          {{#if ../editable}}
          <button type="button" class="lineage-trait-add-effect-btn" data-action="addTraitEffect"
                  data-trait-id="{{this.id}}" data-trait-name="{{this.name}}"
                  title="{{localize 'SHARDS.Lineage.AddEffect'}}">
            <i class="fa-solid fa-bolt"></i> {{localize "SHARDS.Lineage.AddEffect"}}
          </button>
          {{/if}}
        </div>
      </div>
      {{else}}
      <p class="lineage-traits-empty muted">{{localize "SHARDS.Lineage.NoTraits"}}</p>
      {{/each}}
    </div>
  </div>

  </div>
</section>
