<section class="tab inventory" data-group="primary" data-tab="inventory">

  {{!-- Equipment --}}
  <h3 class="crystal-heading">{{localize "SHARDS.EquipmentLabel"}}</h3>
  <ol class="crystal-item-list">
    {{#each items.equipment as |item|}}
    <li class="crystal-item" data-item-id="{{item._id}}">
      <div class="item-name" data-action="editItem">
        <img src="{{item.img}}" width="24" height="24" />
        <span>{{item.name}}</span>
      </div>
      <span class="item-detail">{{item.system.slot}}</span>
      <span class="rank-badge" data-rank="{{item.system.rank}}">{{item.system.rank}}</span>
      <div class="item-controls">
        <button type="button" data-action="editItem" title="{{localize 'SHARDS.Edit'}}">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button type="button" data-action="deleteItem" title="{{localize 'SHARDS.Delete'}}">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </li>
    {{/each}}
  </ol>

  {{!-- Manacite --}}
  <h3 class="crystal-heading">{{localize "SHARDS.ManaciteLabel"}}</h3>
  <ol class="crystal-item-list">
    {{#each items.manacite as |item|}}
    <li class="crystal-item" data-item-id="{{item._id}}">
      <div class="item-name" data-action="editItem">
        <img src="{{item.img}}" width="24" height="24" />
        <span>{{item.name}}</span>
      </div>
      <span class="rank-badge" data-rank="{{item.system.rank}}">{{item.system.rank}}</span>
      <div class="item-controls">
        <button type="button" data-action="useItem" title="{{localize 'SHARDS.Use'}}">
          <i class="fa-solid fa-dice-d20"></i>
        </button>
        <button type="button" data-action="editItem" title="{{localize 'SHARDS.Edit'}}">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button type="button" data-action="deleteItem" title="{{localize 'SHARDS.Delete'}}">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </li>
    {{/each}}
  </ol>


</section>
