<header class="ae-header">
  <img class="ae-header__img" src="{{source.img}}" data-edit="img" title="{{source.name}}" width="40" height="40" />
  <div class="ae-header__identity">
    <input class="ae-header__name" type="text" name="name" value="{{source.name}}" placeholder="{{localize 'SHARDS.Effects.NewEffect'}}" />
    <span class="ae-status-dot {{#if isDisabled}}disabled{{else}}active{{/if}}" title="{{#if isDisabled}}{{localize 'SHARDS.AE.Disabled'}}{{else}}Active{{/if}}"></span>
  </div>
  <div class="ae-header__toggle">
    <label class="ae-toggle">
      <input type="checkbox" name="disabled" {{checked isDisabled}} />
      <span class="ae-toggle__label">{{localize "SHARDS.AE.Disabled"}}</span>
    </label>
  </div>
</header>
