<header class="sheet-header flexrow">
  <img class="profile-img" src="{{item.img}}" data-action="editImage"
       data-edit="img" title="{{item.name}}" height="64" width="64" />
  <div class="header-fields flexcol">
    <h1 class="item-name">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'SHARDS.ItemName'}}" />
    </h1>
    <div class="item-type">
      <span>{{localize (concat "SHARDS.ItemType." item.type)}}</span>
    </div>
  </div>
</header>
