<div class="shards-chat-card shards-condition-reroll">
  <header class="shards-chat-card__header">
    <i class="fa-solid fa-bolt shards-chat-card__header-icon"></i>
    <div class="shards-chat-card__title">
      <span class="shards-chat-card__name">{{localize "SHARDS.Reroll.ConditionReroll"}}</span>
    </div>
  </header>

  <div class="shards-chat-card__body">
    {{#each results}}
    <div class="shards-condition-reroll__row {{#if this.inflicted}}inflicted{{else}}resisted{{/if}}">
      <div class="shards-condition-reroll__info">
        {{#if this.inflicted}}
        <i class="fa-solid fa-bolt shards-condition-reroll__icon inflicted"></i>
        {{else}}
        <i class="fa-solid fa-shield-halved shards-condition-reroll__icon resisted"></i>
        {{/if}}
        <span class="shards-condition-reroll__name">{{this.conditionLabel}}</span>
        <span class="shards-condition-reroll__roll">({{this.condRoll}} / {{this.effectiveChance}})</span>
        <span class="shards-condition-reroll__target">&rarr; {{this.targetName}}</span>
      </div>
      {{#if this.inflicted}}
      <button type="button" class="shards-chat-btn shards-chat-btn--condition"
        data-action="apply-condition"
        data-target-id="{{this.targetId}}"
        data-condition="{{this.conditionKey}}">
        <i class="fa-solid fa-plus"></i> {{localize "SHARDS.Roll.ApplyCondition"}}
      </button>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>
