<div class="shards-chat-card shards-contest-roll" data-theme="{{actorTheme}}">
  <header class="shards-chat-card__header">
    <div class="shards-chat-card__title">
      <i class="fa-solid fa-swords shards-chat-card__header-icon"></i>
      <span class="shards-chat-card__subtitle">{{localize "SHARDS.Roll.Contest"}}</span>
    </div>
  </header>

  <div class="shards-chat-card__body">
    <div class="shards-contest-roll__sides">
      {{!-- Actor A --}}
      <div class="shards-contest-roll__side {{#if (eq winner 'A')}}winner{{/if}}">
        <img class="shards-contest-roll__portrait" src="{{actorAImg}}" alt="{{actorAName}}" width="32" height="32" />
        <span class="shards-contest-roll__name">{{actorAName}}</span>
        <span class="shards-contest-roll__stat">{{statLabelA}}: {{targetA}}</span>
        <div class="shards-chat-card__roll-panel roll-panel--compact">
          <span class="shards-chat-card__d100">{{rollA}}</span>
          <span class="shards-chat-card__outcome {{outcomeCssA}}">
            <i class="fa-solid {{outcomeIconA}}"></i>
            {{outcomeALabel}}
          </span>
        </div>
      </div>

      <div class="shards-contest-roll__vs">VS</div>

      {{!-- Actor B --}}
      <div class="shards-contest-roll__side {{#if (eq winner 'B')}}winner{{/if}}">
        <img class="shards-contest-roll__portrait" src="{{actorBImg}}" alt="{{actorBName}}" width="32" height="32" />
        <span class="shards-contest-roll__name">{{actorBName}}</span>
        <span class="shards-contest-roll__stat">{{statLabelB}}: {{targetB}}</span>
        <div class="shards-chat-card__roll-panel roll-panel--compact">
          <span class="shards-chat-card__d100">{{rollB}}</span>
          <span class="shards-chat-card__outcome {{outcomeCssB}}">
            <i class="fa-solid {{outcomeIconB}}"></i>
            {{outcomeBLabel}}
          </span>
        </div>
      </div>
    </div>

    <div class="shards-contest-roll__result">
      {{#if isTie}}
      <i class="fa-solid fa-equals"></i>
      <span class="shards-contest-roll__winner">{{localize "SHARDS.Roll.Tie"}}</span>
      {{else}}
      <i class="fa-solid fa-crown"></i>
      <span class="shards-contest-roll__winner-label">{{localize "SHARDS.Roll.Winner"}}:</span>
      <span class="shards-contest-roll__winner">{{winnerName}}</span>
      {{/if}}
    </div>
  </div>
</div>
