<div class="shards-chat-card shards-healing-roll" data-theme="{{actorTheme}}">
  <header class="shards-chat-card__header">
    <img class="shards-chat-card__portrait" src="{{actorImg}}" alt="{{actorName}}" width="36" height="36" />
    <div class="shards-chat-card__title">
      <img class="shards-chat-card__skill-icon" src="{{skillImg}}" alt="" width="20" height="20" />
      <span class="shards-chat-card__actor-name">{{actorName}}</span>
      <span class="shards-chat-card__subtitle">{{skillName}}</span>
    </div>
    <span class="shards-chat-card__element-badge element-healing">{{localize "SHARDS.Roll.HealingRoll"}}</span>
  </header>

  {{!-- Resource Costs --}}
  {{#unless displayOnly}}
  {{#if (or pipCost mpCost)}}
  <div class="shards-chat-card__costs">
    {{#if pipCost}}<span class="shards-chat-card__cost cost-pips">{{pipCost}} Pips</span>{{/if}}
    {{#if mpCost}}<span class="shards-chat-card__cost cost-mp">{{mpCost}} MP</span>{{/if}}
  </div>
  {{/if}}
  {{/unless}}

  <div class="shards-chat-card__body">
    <div class="shards-healing-roll__amount">
      <span class="shards-healing-roll__diamond">&loz;</span>
      <span class="shards-healing-roll__value">+{{healAmount}}</span>
      <span class="shards-healing-roll__label">HP</span>
      <span class="shards-healing-roll__diamond">&loz;</span>
    </div>

    {{#if displayOnly}}
    <div class="shards-chat-card__display-only">
      <em>{{localize "SHARDS.Roll.DisplayOnly"}}</em>
      {{#if (or pipCost mpCost)}}
      <button type="button" class="shards-chat-btn shards-chat-btn--spend"
        data-action="spend-resources"
        data-actor-id="{{actorId}}"
        data-pip-cost="{{pipCost}}"
        data-mp-cost="{{mpCost}}">
        <i class="fa-solid fa-coins"></i>
        {{localize "SHARDS.Roll.SpendResources"}}
        ({{#if pipCost}}{{pipCost}} Pips{{/if}}{{#if (and pipCost mpCost)}} + {{/if}}{{#if mpCost}}{{mpCost}} MP{{/if}})
      </button>
      {{/if}}
    </div>
    {{else}}
    <div class="shards-healing-roll__targets">
      {{#each targets}}
      {{#if this.isUndead}}
      {{!-- Undead target: show hit/miss result --}}
      <div class="shards-chat-card__target-result shards-undead-result">
        <div class="shards-chat-card__target-header">
          <i class="fa-solid fa-skull"></i>
          <span class="shards-chat-card__target-name">{{this.targetName}}</span>
          <span class="shards-chat-card__undead-tag">{{localize "SHARDS.Flags.Undead"}}</span>
        </div>
        {{#if this.hitRoll}}
        <div class="shards-chat-card__hit-line">
          <span class="shards-chat-card__roll-value">{{localize "SHARDS.Roll.Rolled"}}: {{this.hitRoll}}</span>
          <span class="shards-chat-card__hit-target">{{localize "SHARDS.Roll.Target"}}: {{this.hitTarget}}</span>
          <span class="shards-chat-card__outcome {{this.outcomeCss}}">
            <i class="fa-solid {{this.outcomeIcon}}"></i> {{this.outcomeLabel}}
          </span>
        </div>
        {{else}}
        <div class="shards-chat-card__hit-line">
          <span class="shards-chat-card__outcome {{this.outcomeCss}}">
            <i class="fa-solid {{this.outcomeIcon}}"></i> {{this.outcomeLabel}}
          </span>
        </div>
        {{/if}}
        {{#if this.isHit}}
        <button type="button" class="shards-chat-btn shards-chat-btn--damage"
          data-action="apply-healing"
          data-target-id="{{this.targetId}}"
          data-healing="{{this.healAmount}}"
          data-is-undead="true">
          <i class="fa-solid fa-skull-crossbones"></i>
          {{localize "SHARDS.Roll.ApplyDamage"}} ({{this.healAmount}}) &rarr; {{this.targetName}}
        </button>
        {{else}}
        <div class="shards-chat-card__miss-line">
          <i class="fa-solid fa-xmark"></i> {{localize "SHARDS.Roll.HealMissed"}}
        </div>
        {{/if}}
      </div>
      {{else}}
      {{!-- Normal target: healing button --}}
      <button type="button" class="shards-chat-btn shards-chat-btn--heal"
        data-action="apply-healing"
        data-target-id="{{this.targetId}}"
        data-healing="{{this.healAmount}}">
        <i class="fa-solid fa-heart"></i>
        {{localize "SHARDS.Roll.ApplyHealing"}} ({{this.healAmount}}) &rarr; {{this.targetName}}
      </button>
      {{/if}}
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
