<div class="shards-chat-card shards-levelup-summary-card" data-theme="{{actorTheme}}">
  <header class="shards-chat-card__header">
    <img class="shards-chat-card__portrait" src="{{actorImg}}" alt="{{actorName}}" width="36" height="36" />
    <div class="shards-chat-card__title">
      <span class="shards-chat-card__actor-name">{{actorName}}</span>
      <span class="shards-chat-card__subtitle">{{localize "SHARDS.LevelUp.ChatSummaryTitle"}}</span>
    </div>
    <span class="shards-levelup__level-badge">Lv. {{newLevel}}</span>
  </header>

  <div class="shards-chat-card__body">
    {{!-- Level Range --}}
    <div class="shards-levelup-summary__range">
      <span>Lv. {{originalLevel}}</span>
      <i class="fa-solid fa-arrow-right"></i>
      <span>Lv. {{newLevel}}</span>
    </div>

    {{!-- Stat Gains --}}
    {{#if statGains.length}}
    <div class="shards-levelup-summary__gains">
      {{#each statGains}}
      <span class="shards-levelup-summary__stat-chip">{{this.label}} +{{this.gain}}</span>
      {{/each}}
    </div>
    {{/if}}

    <div class="shards-levelup-summary__total">
      {{localize "SHARDS.XP.GainsSummary"}}: <strong>+{{totalStatGains}}</strong> {{localize "SHARDS.XP.StatPoints"}}
    </div>

    {{!-- Rank advancement --}}
    {{#if rankChanged}}
    <div class="shards-levelup-summary__rank-advance">
      <i class="fa-solid fa-crown"></i>
      {{localize "SHARDS.XP.RankAdvanced"}}: {{originalRank}} &rarr; <strong>{{newRank}}</strong>
    </div>
    {{/if}}


    {{!-- Per-Level Breakdown --}}
    {{#if (gt levelResults.length 1)}}
    <div class="shards-levelup-summary__level-log">
      {{#each levelResults}}
      <div class="shards-levelup-summary__level-entry">
        <span class="level-num">Lv. {{this.level}}</span>
        <span class="stat-gains">+{{this.totalGains}}</span>
        {{#if this.rankAdvanced}}
        <span class="rank-note"><i class="fa-solid fa-crown"></i> {{this.newRank}}</span>
        {{/if}}
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
