<div class="shards-chat-card shards-turn-start-card" data-theme="{{theme}}">
  <div class="shards-turn-start__header">
    <img class="shards-turn-start__portrait" src="{{actorImg}}" width="36" height="36" />
    <div class="shards-turn-start__info">
      <div class="shards-turn-start__name">{{actorName}}</div>
      <div class="shards-turn-start__round">{{localize "SHARDS.Combat.RoundLabel"}} {{round}}</div>
    </div>
  </div>
  {{#if messages.length}}
  <div class="shards-turn-start__body">
    {{#each messages}}
    <div class="shards-turn-start__entry">{{{this}}}</div>
    {{/each}}
  </div>
  {{/if}}
</div>
