<div class="crystal-card party-header">
  {{!-- Portrait / Emblem --}}
  <div class="party-header__portrait">
    <img class="crystal-portrait" src="{{actor.img}}" data-edit="img"
         title="{{actor.name}}" />
  </div>

  {{!-- Identity --}}
  <div class="party-header__identity">
    <input name="name" type="text" value="{{actor.name}}"
           placeholder="{{localize 'SHARDS.Party.PartyName'}}" class="party-name-input" />
    <input name="system.motto" type="text" value="{{system.motto}}"
           placeholder="{{localize 'SHARDS.Party.MottoPlaceholder'}}" class="party-motto-input" />
  </div>

  {{!-- Analytics Summary --}}
  <div class="party-header__analytics">
    <div class="party-stat">
      <i class="fa-solid fa-users"></i>
      <span class="party-stat__value">{{memberCount}}</span>
      <span class="party-stat__label">{{localize "SHARDS.Party.Members"}}</span>
    </div>
    <div class="party-stat">
      <i class="fa-solid fa-chart-line"></i>
      <span class="party-stat__value">{{avgLevel}}</span>
      <span class="party-stat__label">{{localize "SHARDS.Party.AvgLevel"}}</span>
    </div>
    <div class="party-stat">
      <i class="fa-solid fa-heart"></i>
      <span class="party-stat__value">{{totalHp}}/{{totalHpMax}}</span>
      <span class="party-stat__label">{{localize "SHARDS.Health"}}</span>
    </div>
    <div class="party-stat">
      <i class="fa-solid fa-diamond"></i>
      <span class="party-stat__value">{{totalMp}}/{{totalMpMax}}</span>
      <span class="party-stat__label">{{localize "SHARDS.Mana"}}</span>
    </div>
    <div class="party-stat party-stat--gold">
      <i class="fa-solid fa-coins"></i>
      <span class="party-stat__value">{{system.gold}}</span>
      <span class="party-stat__label">{{localize "SHARDS.Party.Treasury"}}</span>
    </div>
  </div>
</div>
