<div class="choice-set-form">
  <div class="cs-dialog-header">
    <img src="{{itemImg}}" width="40" height="40" alt="" />
    <h3>{{itemName}}</h3>
  </div>

  {{#each sections}}
  <div class="cs-dialog-section">
    <label class="cs-dialog-label">
      {{#if this.required}}<span class="cs-required-badge">*</span>{{/if}}
      {{this.label}}
    </label>
    <select class="cs-dialog-select" data-cs-id="{{this.id}}" size="8">
      {{#each this.options}}
      <option value="{{this.value}}">{{this.label}}</option>
      {{/each}}
    </select>
  </div>
  {{/each}}
</div>
