<form class="shards-contest-form">
  <div class="shards-contest-form__sides">
    {{!-- Actor A --}}
    <fieldset class="shards-contest-form__side">
      <legend>{{localize "SHARDS.Contest.ActorA"}}</legend>
      <div class="form-group">
        <select name="actorA">
          <option value="">{{localize "SHARDS.Select.Default"}}</option>
          {{#each actors}}
          <option value="{{this.id}}" {{#if (eq this.id ../actorAId)}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "SHARDS.Contest.Stat"}}</label>
        <select name="statA">
          {{#each stats}}
          <option value="{{this.key}}">{{this.label}}</option>
          {{/each}}
        </select>
      </div>
    </fieldset>

    <div class="shards-contest-form__vs">{{localize "SHARDS.Roll.VsActor"}}</div>

    {{!-- Actor B --}}
    <fieldset class="shards-contest-form__side">
      <legend>{{localize "SHARDS.Contest.ActorB"}}</legend>
      <div class="form-group">
        <select name="actorB">
          <option value="">{{localize "SHARDS.Select.Default"}}</option>
          {{#each actors}}
          <option value="{{this.id}}" {{#if (eq this.id ../actorBId)}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "SHARDS.Contest.Stat"}}</label>
        <select name="statB">
          {{#each stats}}
          <option value="{{this.key}}">{{this.label}}</option>
          {{/each}}
        </select>
      </div>
    </fieldset>
  </div>

  <button type="button" class="shards-contest-form__btn" data-action="rollContest">
    <i class="fa-solid fa-dice-d20"></i> {{localize "SHARDS.Contest.Roll"}}
  </button>
</form>
