<div class="item-browser-header crystal-card">
  <div class="item-browser-header__top">
    <input type="text" class="item-browser-search"
           placeholder="{{localize 'SHARDS.Browser.SearchPlaceholder'}}"
           value="{{searchText}}" />
    <span class="item-browser-count">({{itemCount}})</span>
    {{#if isGM}}
    <button type="button" class="crystal-btn crystal-btn--small" data-action="createItem">
      <i class="fa-solid fa-plus"></i> {{localize "SHARDS.Browser.CreateItem"}}
    </button>
    {{/if}}
  </div>
  {{#if filters.length}}
  <div class="item-browser-header__filters">
    {{#each filters}}
    <select class="item-browser-filter" data-filter-key="{{this.key}}">
      {{#each this.options}}
      <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
        {{this.label}}
      </option>
      {{/each}}
    </select>
    {{/each}}
  </div>
  {{/if}}
</div>
