<div class="item-browser-list">
  {{#each items}}
  <div class="item-browser-card" data-uuid="{{this.uuid}}" draggable="true">
    <div class="item-browser-card__flip">
      {{!-- FRONT FACE --}}
      <div class="item-browser-card__face item-browser-card__face--front">
        <div class="item-browser-card__art">
          <img src="{{this.img}}" />
        </div>
        <div class="item-browser-card__overlay">
          <div class="item-browser-card__top">
            {{#if this.rank}}
            <span class="rank-badge" data-rank="{{this.rank}}">{{this.rank}}</span>
            {{/if}}
            {{#if this.categoryBadge}}
            <span class="item-browser-card__category" data-category="{{this.categoryKey}}">{{this.categoryBadge}}</span>
            {{/if}}
            <span class="item-browser-card__source" title="{{this.sourceLabel}}">
              {{#if (eq this.source "world")}}
              <i class="fa-solid fa-globe"></i>
              {{else}}
              <i class="fa-solid fa-book"></i>
              {{/if}}
            </span>
          </div>
          <div class="item-browser-card__bottom">
            <span class="item-browser-card__name">{{this.name}}</span>
            {{#if this.frontDetail}}
            <span class="item-browser-card__detail">{{this.frontDetail}}</span>
            {{/if}}
          </div>
        </div>
      </div>
      {{!-- BACK FACE --}}
      <div class="item-browser-card__face item-browser-card__face--back">
        <div class="item-browser-card__art">
          <img src="{{this.img}}" />
        </div>
        <div class="item-browser-card__overlay item-browser-card__overlay--back">
          <div class="item-browser-card__back-header">
            {{#if this.rank}}
            <span class="rank-badge" data-rank="{{this.rank}}">{{this.rank}}</span>
            {{/if}}
            <span class="item-browser-card__name">{{this.name}}</span>
          </div>
          <div class="item-browser-card__back-body">
            {{#each this.backDetails}}
            <div class="item-browser-card__back-row">
              <span class="item-browser-card__back-label">{{this.label}}</span>
              <span class="item-browser-card__back-value">{{this.value}}</span>
            </div>
            {{/each}}
            {{#if this.snippet}}
            <p class="item-browser-card__desc">{{this.snippet}}</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{!-- Flip button --}}
    <button type="button" class="item-browser-card__flip-btn"
            data-action="flipCard" title="{{localize 'SHARDS.Jobs.FlipCard'}}">
      <i class="fa-solid fa-rotate"></i>
    </button>
    {{!-- View button --}}
    <button type="button" class="item-browser-card__view-btn"
            data-action="viewItem" title="{{localize 'SHARDS.Browser.ViewItem'}}">
      <i class="fa-solid fa-eye"></i>
    </button>
  </div>
  {{else}}
  <p class="item-browser-empty">{{localize emptyMessage}}</p>
  {{/each}}
</div>
