{{!-- Party HUD Overlay --}}

{{#if isHidden}}
{{!-- Hidden mode: small circular toggle button --}}
<div class="party-hud__toggle-btn" data-action="toggleHud"
     title="{{localize 'SHARDS.PartyHud.Show'}}">
  <i class="fa-solid fa-users"></i>
</div>
{{else}}

<div class="party-hud__container party-hud--{{mode}}" data-drag-handle="true">

  {{!-- Header --}}
  <div class="party-hud__header">
    <span class="party-hud__title">
      <i class="fa-solid fa-users"></i>
      {{#if isExpanded}}
        {{#if partyName}}{{partyName}}{{else}}{{localize "SHARDS.PartyHud.Title"}}{{/if}}
      {{/if}}
    </span>

    {{!-- GM: Party selector (if multiple party actors) --}}
    {{#if (and isGM hasMultipleParties)}}
    <select class="party-hud__party-select" title="{{localize 'SHARDS.PartyHud.SelectParty'}}">
      {{#each partyActors}}
      <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
    {{/if}}

    {{!-- Open party sheet --}}
    {{#if hasParty}}
    <button type="button" class="party-hud__party-btn" data-action="openPartySheet"
            title="{{localize 'SHARDS.PartyHud.OpenPartySheet'}}">
      <i class="fa-solid fa-address-book"></i>
    </button>
    {{/if}}

    <button type="button" class="party-hud__mode-btn" data-action="cycleMode"
            title="{{#if isExpanded}}{{localize 'SHARDS.PartyHud.Compact'}}{{else}}{{localize 'SHARDS.PartyHud.Expand'}}{{/if}}">
      {{#if isExpanded}}<i class="fa-solid fa-down-left-and-up-right-to-center"></i>{{else}}<i class="fa-solid fa-up-right-and-down-left-from-center"></i>{{/if}}
    </button>
    <button type="button" class="party-hud__hide-btn" data-action="toggleHud"
            title="{{localize 'SHARDS.PartyHud.Hide'}}">
      <i class="fa-solid fa-eye-slash"></i>
    </button>
  </div>

  {{!-- Member Cards --}}
  {{#if members.length}}
  <div class="party-hud__members">
    {{#each members as |m|}}
    <div class="party-hud__member{{#if m.isDowned}} party-hud__member--downed{{/if}}"
         data-actor-id="{{m.actorId}}"
         data-theme="{{m.theme}}"
         {{#if m.role}}data-role="{{m.role}}"{{/if}}
         style="{{m.themeStyle}}">

      {{!-- Portrait --}}
      <button type="button" class="party-hud__portrait-btn"
              data-action="openSheet" data-actor-id="{{m.actorId}}"
              title="{{m.name}}{{#if m.roleLabel}} ({{m.roleLabel}}){{/if}}">
        <img class="party-hud__portrait" src="{{m.img}}" loading="lazy" />
        {{!-- Job icon overlay on portrait --}}
        {{#if m.jobImg}}
        <img class="party-hud__job-icon" src="{{m.jobImg}}" title="{{m.jobName}}" />
        {{/if}}
      </button>

      {{!-- Info column --}}
      <div class="party-hud__info">
        {{!-- Name row --}}
        <div class="party-hud__name-row">
          <span class="party-hud__name">{{m.name}}</span>
          {{#if (eq ../mode "expanded")}}
            {{#if m.level}}
            <span class="party-hud__level">Lv.{{m.level}}</span>
            {{/if}}
          {{/if}}
        </div>

        {{!-- Job row (expanded) --}}
        {{#if (eq ../mode "expanded")}}
          {{#if m.jobName}}
          <div class="party-hud__job-line">
            <span class="rank-badge rank-badge--sm" data-rank="{{m.jobRank}}">{{m.jobRank}}</span>
            <span class="party-hud__job-name">{{m.jobName}}</span>
          </div>
          {{/if}}
        {{/if}}

        {{!-- HP Bar --}}
        <div class="party-hud__bar party-hud__bar--hp"
             style="--bar-pct: {{m.hpPct}}%"
             title="HP: {{m.hp.value}}/{{m.hp.max}}">
          <span class="party-hud__bar-label">HP</span>
          <div class="party-hud__bar-track">
            <div class="party-hud__bar-fill"></div>
            <div class="party-hud__bar-shine"></div>
          </div>
          {{#if (eq ../mode "expanded")}}
          <span class="party-hud__bar-value">{{m.hp.value}}<span class="party-hud__bar-max">/{{m.hp.max}}</span></span>
          {{/if}}
        </div>

        {{!-- MP Bar --}}
        <div class="party-hud__bar party-hud__bar--mp"
             style="--bar-pct: {{m.mpPct}}%"
             title="MP: {{m.mp.value}}/{{m.mp.max}}">
          <span class="party-hud__bar-label">MP</span>
          <div class="party-hud__bar-track">
            <div class="party-hud__bar-fill"></div>
            <div class="party-hud__bar-shine"></div>
          </div>
          {{#if (eq ../mode "expanded")}}
          <span class="party-hud__bar-value">{{m.mp.value}}<span class="party-hud__bar-max">/{{m.mp.max}}</span></span>
          {{/if}}
        </div>

        {{!-- Expanded-only details --}}
        {{#if (eq ../mode "expanded")}}
        <div class="party-hud__details">
          {{!-- Pips --}}
          {{#if m.pips.max}}
          <div class="party-hud__pips" title="Pips: {{m.pips.value}}/{{m.pips.max}}">
            {{#each m.pips.dots}}
            <span class="party-hud__pip{{#if this}} party-hud__pip--filled{{/if}}"></span>
            {{/each}}
          </div>
          {{/if}}

          {{!-- Conditions --}}
          {{#if m.activeConditions.length}}
          <div class="party-hud__conditions">
            {{#each m.activeConditions}}
            <span class="party-hud__condition-chip"
                  title="{{this.label}}{{#if (gt this.magnitude 1)}} x{{this.magnitude}}{{/if}}">
              {{#if this.img}}<img src="{{this.img}}" width="16" height="16" />{{/if}}
            </span>
            {{/each}}
          </div>
          {{/if}}

          {{!-- Limit Break --}}
          <div class="party-hud__lb" title="Limit Break: {{m.lbPct}}%">
            <span class="party-hud__lb-label">LB</span>
            <div class="party-hud__lb-track">
              <div class="party-hud__lb-fill{{#if m.lbReady}} party-hud__lb--ready{{/if}}"
                   style="width: {{m.lbPct}}%"></div>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="party-hud__empty">
    {{#if hasParty}}
    <span>{{localize "SHARDS.PartyHud.NoMembers"}}</span>
    {{else}}
    <span>{{localize "SHARDS.PartyHud.NoParty"}}</span>
    {{/if}}
  </div>
  {{/if}}

</div>
{{/if}}
