<form class="preroll-form" data-theme="{{theme}}">
  {{!-- Skill Header --}}
  <div class="preroll-header">
    <img class="preroll-header__img" src="{{skill.img}}" width="40" height="40" />
    <div class="preroll-header__info">
      <h3 class="preroll-header__name">{{skill.name}}</h3>
      <div class="preroll-header__tags">
        <span class="preroll-tag preroll-tag--timing">{{skill.timingLabel}}</span>
        {{#if skill.damageTypeLabel}}
        <span class="preroll-tag preroll-tag--element">{{skill.damageTypeLabel}}</span>
        {{/if}}
        <span class="preroll-tag preroll-tag--target">{{skill.targetLabel}}</span>
      </div>
    </div>
  </div>

  {{!-- Condition Warnings --}}
  {{#if isStunned}}
  <div class="preroll-warning preroll-warning--block">
    <i class="fa-solid fa-bolt"></i> {{localize "SHARDS.PreRoll.Stunned"}}
  </div>
  {{/if}}
  {{#if isDowned}}
  <div class="preroll-warning preroll-warning--block">
    <i class="fa-solid fa-skull"></i> {{localize "SHARDS.PreRoll.Downed"}}
  </div>
  {{/if}}
  {{#if isSilenced}}
  <div class="preroll-warning preroll-warning--block">
    <i class="fa-solid fa-volume-xmark"></i> {{localize "SHARDS.PreRoll.Silenced"}}
  </div>
  {{/if}}
  {{#if lbBlocked}}
  <div class="preroll-warning preroll-warning--lb">
    <i class="fa-solid fa-fire"></i> {{localize "SHARDS.PreRoll.LBRequired"}}
    <div class="preroll-lb-gauge">
      <div class="preroll-lb-gauge__fill" style="width: {{actor.limitBreak.value}}%"></div>
      <span class="preroll-lb-gauge__label">{{actor.limitBreak.value}}%</span>
    </div>
  </div>
  {{/if}}

  {{!-- Cost & Range --}}
  <div class="preroll-stats">
    <div class="preroll-stat">
      <span class="preroll-stat__label">{{localize "SHARDS.PreRoll.CostLabel"}}</span>
      <span class="preroll-stat__value">
        {{#if pipCost}}
        <span class="preroll-cost{{#unless hasEnoughPips}} preroll-cost--insufficient{{/unless}}">
          {{pipCost}} Pip{{#if (gt pipCost 1)}}s{{/if}}
        </span>
        {{/if}}
        {{#if mpCost}}
        <span class="preroll-cost{{#unless hasEnoughMp}} preroll-cost--insufficient{{/unless}}">
          {{mpCost}} MP
        </span>
        {{/if}}
        {{#unless pipCost}}{{#unless mpCost}}<span class="preroll-cost">Free</span>{{/unless}}{{/unless}}
      </span>
    </div>
    <div class="preroll-stat">
      <span class="preroll-stat__label">{{localize "SHARDS.PreRoll.RangeLabel"}}</span>
      <span class="preroll-stat__value">{{rangeLabel}}</span>
    </div>
    {{#if hasArea}}
    <div class="preroll-stat">
      <span class="preroll-stat__label">{{localize "SHARDS.PreRoll.AreaLabel"}}</span>
      <span class="preroll-stat__value">{{areaShape}} {{areaSize}} sq</span>
    </div>
    {{/if}}
  </div>

  {{!-- AoE Template Placement --}}
  {{#if isAoE}}
  <div class="preroll-aoe">
    <div class="preroll-aoe__controls">
      <label class="preroll-aoe__label">{{localize "SHARDS.AoE.FilterLabel"}}</label>
      <select name="aoeFilter" class="preroll-aoe__filter">
        {{#each aoeFilterOptions}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>
    {{#if hasCanvas}}
    <button type="button" data-action="placeTemplate" class="preroll-btn preroll-btn--template">
      <i class="fa-solid fa-bullseye"></i> {{localize "SHARDS.AoE.PlaceTemplate"}}
    </button>
    {{/if}}
  </div>
  {{/if}}

  {{!-- Resource Display --}}
  <div class="preroll-resources">
    <span class="preroll-resource">
      <i class="fa-solid fa-circle-dot"></i>
      Pips: {{actor.pips.value}} / {{actor.pips.max}}
    </span>
    <span class="preroll-resource">
      <i class="fa-solid fa-droplet"></i>
      MP: {{actor.mana.value}} / {{actor.mana.max}}
    </span>
  </div>

  {{!-- Conditional Effects --}}
  {{#if hasConditionals}}
  <div class="preroll-conditionals">
    <h4 class="preroll-conditionals__header">
      <i class="fa-solid fa-toggle-on"></i>
      {{localize "SHARDS.PreRoll.ConditionalEffects"}}
    </h4>
    <div class="preroll-conditionals__list">
      {{#each conditionalEffects}}
      <div class="preroll-conditional-row{{#if toggled}} preroll-conditional-row--active{{/if}}"
           data-action="toggleConditional" data-effect-id="{{id}}">
        <img class="preroll-conditional-row__icon" src="{{img}}" width="24" height="24" />
        <div class="preroll-conditional-row__info">
          <span class="preroll-conditional-row__name">{{name}}</span>
          {{#if label}}
          <span class="preroll-conditional-row__label">{{label}}</span>
          {{/if}}
        </div>
        {{#if bonusSummary}}
        <span class="preroll-conditional-row__bonus">{{bonusSummary}}</span>
        {{/if}}
        <div class="preroll-conditional-row__toggle">
          <i class="fa-solid {{#if toggled}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- Target List --}}
  <div class="preroll-targets">
    <div class="preroll-targets__header">
      <h4>{{localize "SHARDS.PreRoll.Targets"}}</h4>
      {{#if needsTargets}}
      <button type="button" data-action="refreshTargets" class="preroll-targets__refresh" title="Refresh target list">
        <i class="fa-solid fa-arrows-rotate"></i>
      </button>
      {{/if}}
    </div>

    {{#if isSelf}}
    <div class="preroll-target-row preroll-target-row--self">
      <img src="{{actor.img}}" width="32" height="32" />
      <span class="preroll-target-row__name">{{actor.name}} (Self)</span>
    </div>
    {{else if isField}}
    <div class="preroll-target-row preroll-target-row--field">
      <i class="fa-solid fa-expand"></i>
      <span class="preroll-target-row__name">Field Effect</span>
    </div>
    {{else if hasTargets}}
    {{#each targets}}
    <div class="preroll-target-row{{#unless inRange}} preroll-target-row--out-of-range{{/unless}}">
      <img src="{{img}}" width="32" height="32" />
      <span class="preroll-target-row__name">{{name}}</span>
      <span class="preroll-target-row__distance">{{distanceLabel}}</span>
      {{#if inRange}}
      <span class="preroll-range-ok" title="{{localize "SHARDS.PreRoll.InRange"}}">
        <i class="fa-solid fa-check-circle"></i>
      </span>
      {{else}}
      <span class="preroll-range-out" title="{{localize "SHARDS.PreRoll.OutOfRange"}}">
        <i class="fa-solid fa-times-circle"></i>
      </span>
      {{/if}}
    </div>
    {{/each}}
    {{else}}
    <div class="preroll-no-targets">
      <i class="fa-solid fa-crosshairs"></i>
      <span>{{localize "SHARDS.PreRoll.NoTargets"}}</span>
    </div>
    {{/if}}
  </div>

  {{!-- Action Buttons --}}
  <div class="preroll-footer">
    <button type="button" data-action="confirmRoll" class="preroll-btn preroll-btn--confirm"
      {{#unless canConfirm}}disabled{{/unless}}>
      <i class="fa-solid fa-dice-d20"></i> {{localize "SHARDS.PreRoll.Confirm"}}
    </button>

    {{#if needsTargets}}
    <button type="button" data-action="displayOnly" class="preroll-btn preroll-btn--display">
      <i class="fa-solid fa-eye"></i> {{localize "SHARDS.PreRoll.DisplayOnly"}}
    </button>
    {{/if}}

    {{#if hasTargets}}
    <button type="button" data-action="clearTargets" class="preroll-btn preroll-btn--clear">
      <i class="fa-solid fa-eraser"></i> {{localize "SHARDS.PreRoll.ClearTargets"}}
    </button>
    {{/if}}

    <button type="button" data-action="cancelRoll" class="preroll-btn preroll-btn--cancel">
      <i class="fa-solid fa-xmark"></i> {{localize "SHARDS.PreRoll.Cancel"}}
    </button>
  </div>
</form>
