<div class="item-browser-header crystal-card">
  <div class="item-browser-header__top">
    <input type="text" class="item-browser-search"
           placeholder="{{localize 'SHARDS.Browser.SearchPlaceholder'}}"
           value="{{searchText}}" />
    <span class="item-browser-count">({{itemCount}})</span>
    {{#if filters.length}}
    <button type="button" class="item-browser-header__filter-toggle {{#if hasActiveFilters}}active{{/if}}"
            title="{{localize 'SHARDS.Browser.Filters'}}">
      <i class="fa-solid fa-filter"></i>
    </button>
    {{/if}}
    {{#if isGM}}
    <button type="button" class="crystal-btn crystal-btn--small" data-action="createItem">
      <i class="fa-solid fa-plus"></i> {{localize "SHARDS.Browser.CreateItem"}}
    </button>
    {{/if}}
  </div>
  {{#if filters.length}}
  <div class="item-browser-header__filters">
    {{#each filters}}
    <select class="item-browser-filter" data-filter-key="{{this.key}}">
      {{#each this.options}}
      <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
        {{this.label}}
      </option>
      {{/each}}
    </select>
    {{/each}}
  </div>
  {{/if}}
  {{#if isGM}}
  {{#if skillTemplates.length}}
  <div class="skill-templates-dropdown">
    <button type="button" class="skill-templates-dropdown__toggle">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
      <span>{{localize "SHARDS.SkillBrowser.Templates"}}</span>
      <i class="fa-solid fa-chevron-down skill-templates-dropdown__chevron"></i>
    </button>
    <div class="skill-templates-dropdown__panel">
      {{#each skillTemplates}}
      <button type="button" class="skill-templates-dropdown__item" data-action="createFromTemplate" data-template="{{this.key}}">
        <img src="{{this.icon}}" width="16" height="16" />
        <span>{{this.label}}</span>
      </button>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{/if}}
</div>
