<div class="levelup-summary">

  {{!-- Level progression banner --}}
  <div class="levelup-summary__banner">
    <span class="levelup-summary__from">Lv. {{state.originalLevel}}</span>
    <span class="levelup-summary__arrow"><i class="fa-solid fa-arrow-right"></i></span>
    <span class="levelup-summary__to">Lv. {{state.currentLevel}}</span>
    {{#if state.rankChanged}}
    <div class="levelup-summary__rank-change">
      <span data-rank="{{state.originalRank}}">{{state.originalRank}}</span>
      <i class="fa-solid fa-arrow-right"></i>
      <span data-rank="{{state.finalRank}}" class="levelup-summary__new-rank">{{state.finalRank}}</span>
    </div>
    {{/if}}
  </div>

  {{!-- Before / After stat comparison --}}
  <div class="levelup-summary__stat-compare">
    <h3 class="levelup-section-heading">{{localize "SHARDS.LevelUp.StatChanges"}}</h3>
    <div class="levelup-stat-compare-grid">
      {{#each statComparison}}
      <div class="levelup-stat-compare-row {{#if this.gained}}levelup-stat-compare-row--gained{{/if}}">
        <span class="levelup-stat-compare__label">{{this.label}}</span>
        <span class="levelup-stat-compare__before">{{this.before}}</span>
        <span class="levelup-stat-compare__arrow"><i class="fa-solid fa-arrow-right"></i></span>
        <span class="levelup-stat-compare__after">{{this.after}}</span>
        {{#if this.gained}}
        <span class="levelup-stat-compare__delta">+{{this.gain}}</span>
        {{/if}}
      </div>
      {{/each}}
    </div>
    <div class="levelup-stat-compare__total">
      {{localize "SHARDS.LevelUp.TotalStatGains"}}:
      <strong>+{{totalStatGains}}</strong>
    </div>
  </div>

  {{!-- Per-level breakdown --}}
  <div class="levelup-summary__level-log">
    <h3 class="levelup-section-heading">
      {{localize "SHARDS.LevelUp.LevelByLevel"}}
      ({{state.levelResults.length}} {{localize "SHARDS.LevelUp.LevelsLabel"}})
    </h3>
    {{#each state.levelResults}}
    <div class="levelup-level-entry">
      <div class="levelup-level-entry__header">
        <span class="levelup-level-entry__level">Lv. {{this.level}}</span>
        <span class="levelup-level-entry__gains">+{{this.totalGains}}</span>
        {{#if this.rankAdvanced}}
        <span class="levelup-level-entry__rank">
          <i class="fa-solid fa-crown"></i> {{this.newRank}}
        </span>
        {{/if}}
      </div>
      <div class="levelup-level-entry__stats">
        {{#each this.rollResults}}
        <span class="levelup-mini-stat {{#if this.passed}}pass{{else}}fail{{/if}}">
          {{this.label}} {{this.displayRoll}}/{{this.growthRate}}
        </span>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>


</div>
