<div class="levelup-overview">

  {{!-- Character Status Window --}}
  <div class="levelup-status-window">
    <div class="levelup-status__header">
      <img class="levelup-status__portrait" src="{{actorImg}}" alt="{{actorName}}" />
      <div class="levelup-status__identity">
        <h3 class="levelup-status__name">{{actorName}}</h3>
        <div class="levelup-status__meta">
          <span class="levelup-status__lineage">{{lineage}}</span>
          <span class="levelup-status__rank" data-rank="{{state.originalRank}}">
            {{localize "SHARDS.Rank"}} {{state.originalRank}}
          </span>
        </div>
        <div class="levelup-status__level-info">
          <span class="levelup-status__level">Lv. {{state.originalLevel}}</span>
        </div>
      </div>
    </div>

    {{!-- Active Job --}}
    {{#if activeJob}}
    <div class="levelup-status__job">
      <img src="{{activeJob.img}}" alt="" width="28" height="28" />
      <span>{{activeJob.name}}</span>
      <span class="levelup-tag">{{activeJob.rank}}</span>
    </div>
    {{/if}}
  </div>

  {{!-- Available Levels Panel --}}
  <div class="levelup-available-panel">
    <div class="levelup-available__count">
      <span class="levelup-available__number">{{state.maxAvailableLevels}}</span>
      <span class="levelup-available__label">{{localize "SHARDS.LevelUp.AvailableLevels"}}</span>
    </div>
  </div>

  {{!-- Growth Rates Display --}}
  <div class="levelup-growth-preview">
    <h3 class="levelup-section-heading">{{localize "SHARDS.LevelUp.GrowthRates"}}</h3>
    <div class="levelup-growth-grid">
      {{#each growthRateDisplay}}
      <div class="levelup-growth-cell">
        <span class="levelup-growth-cell__label">{{this.label}}</span>
        <span class="levelup-growth-cell__value">{{this.value}}%</span>
        <div class="levelup-growth-cell__bar">
          <div class="levelup-growth-cell__bar-fill" style="width: {{this.barPct}}%"></div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>
