<div class="chargen-stats">

  {{!-- Pool Counter --}}
  <div class="chargen-pool-counter {{#if (eq remainingPoints 0)}}complete{{/if}} {{#if (lt remainingPoints 0)}}over{{/if}}">
    <span class="chargen-pool-counter__label">{{localize "SHARDS.CharGen.Stats.PointsRemaining"}}</span>
    <span class="chargen-pool-counter__value">{{remainingPoints}}</span>
    <span class="chargen-pool-counter__total">/ {{statPool}}</span>
  </div>

  <p class="chargen-hint">
    {{localize "SHARDS.CharGen.Stats.Hint" base=10 cap=statCap}}
  </p>

  {{!-- Stat Distribution Grid --}}
  <div class="chargen-stat-grid">
    {{#each statEntries}}
    <div class="chargen-stat-row">
      <span class="chargen-stat-row__label">{{this.label}}</span>
      <button type="button" class="chargen-stat-row__btn" data-action="decrementStat" data-stat="{{this.key}}"
        {{#if (eq this.value this.min)}}disabled{{/if}}>
        <i class="fa-solid fa-minus"></i>
      </button>
      <span class="chargen-stat-row__value">{{this.value}}</span>
      <button type="button" class="chargen-stat-row__btn" data-action="incrementStat" data-stat="{{this.key}}"
        {{#if (or (eq this.value this.max) (lt ../remainingPoints 1))}}disabled{{/if}}>
        <i class="fa-solid fa-plus"></i>
      </button>
      <div class="chargen-stat-row__bar">
        <div class="chargen-stat-row__bar-fill" style="width: {{this.barPct}}%"></div>
      </div>
    </div>
    {{/each}}
  </div>

</div>
