<div class="chargen-growth">

  {{!-- Pool Counter --}}
  <div class="chargen-pool-counter {{#if (eq remainingGrowth 0)}}complete{{/if}} {{#if (lt remainingGrowth 0)}}over{{/if}}">
    <span class="chargen-pool-counter__label">{{localize "SHARDS.CharGen.Growth.Remaining"}}</span>
    <span class="chargen-pool-counter__value">{{remainingGrowth}}%</span>
    <span class="chargen-pool-counter__total">/ {{growthPool}}%</span>
  </div>

  <p class="chargen-hint">
    {{localize "SHARDS.CharGen.Growth.Hint" min=settings.growthMin max=settings.growthMax}}
  </p>

  {{!-- Growth Rate Grid --}}
  <div class="chargen-stat-grid">
    {{#each growthEntries}}
    <div class="chargen-stat-row">
      <span class="chargen-stat-row__label">{{this.label}}</span>
      <button type="button" class="chargen-stat-row__btn" data-action="decrementGrowth" data-stat="{{this.key}}"
        {{#if (eq this.value this.min)}}disabled{{/if}}>
        <i class="fa-solid fa-minus"></i>
      </button>
      <span class="chargen-stat-row__value">{{this.value}}%</span>
      <button type="button" class="chargen-stat-row__btn" data-action="incrementGrowth" data-stat="{{this.key}}"
        {{#if (or (eq this.value this.max) (lt ../remainingGrowth 1))}}disabled{{/if}}>
        <i class="fa-solid fa-plus"></i>
      </button>
      <div class="chargen-stat-row__bar">
        <div class="chargen-stat-row__bar-fill chargen-stat-row__bar-fill--growth" style="width: {{this.barPct}}%"></div>
      </div>
    </div>
    {{/each}}
  </div>

</div>
