<div class="chargen-species">

  <p class="chargen-hint">{{localize "SHARDS.CharGen.Lineage.Hint"}}</p>

  {{!-- Count Badge --}}
  <div class="chargen-count-badge {{#if lineageCount}}complete{{/if}}">
    <span>{{lineageCount}} / {{maxLineage}}</span>
    {{localize "SHARDS.CharGen.Lineage.Selected"}}
  </div>

  {{!-- Selected Lineage List --}}
  {{#if state.selectedLineage.length}}
  <div class="chargen-selection-list">
    {{#each state.selectedLineage}}
    <div class="chargen-selection-card chargen-selection-card--species">
      <div class="chargen-selection-card__row">
        <img src="{{this.img}}" alt="{{this.name}}" class="chargen-selection-card__img" />
        <div class="chargen-selection-card__info">
          <h3 class="chargen-selection-card__name">{{this.name}}</h3>
          <span class="chargen-detail"><i class="fa-solid fa-ruler-combined"></i> {{localize "SHARDS.Lineage.Size"}}: {{this.system.size}}</span>
        </div>
        <button type="button" class="chargen-selection-card__remove" data-action="removeLineage" data-uuid="{{this.uuid}}" title="{{localize "SHARDS.CharGen.Remove"}}">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      {{!-- Innate Traits Preview --}}
      {{#if this._innateTraits.length}}
      <div class="chargen-species-traits">
        {{#each this._innateTraits}}
        <div class="chargen-species-trait">
          <span class="chargen-species-trait__name"><i class="fa-solid fa-sparkles"></i> {{this.name}}</span>
          {{#if this.description}}
          <span class="chargen-species-trait__desc">{{this.description}}</span>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>

  {{else}}
  <div class="chargen-empty-state">
    <i class="fa-solid fa-dna chargen-empty-state__icon"></i>
    <p>{{localize "SHARDS.CharGen.Lineage.Empty"}}</p>
  </div>
  {{/if}}

  <div class="chargen-browse-actions">
    <button type="button" class="chargen-browse-btn" data-action="browseLineage">
      <i class="fa-solid fa-book-sparkles"></i> {{localize "SHARDS.CharGen.Lineage.Browse"}}
    </button>
  </div>

</div>
